	<!------RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Hoang Tuan Minh
ID: s3924716
Acknowledgement: 
https://getbootstrap.com/docs/5.3/getting-started/javascript/
Create your own Admin Dashboard Template with Angular 15 Html CSS:https://www.youtube.com/watch?v=zQf7AcKw5mU
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js
netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js
-->
	<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/shipper/dashboard_shipper/dashboard.css">
        <title>Dashboard's Header</title>
    </head>
    <body>
        <!-- SIDEBAR -->
	<section id="sidebar" class="hide">
		<a href="/api/shipper/dashboard" class="brand">
			<i class='bx bxs-universal-access'></i>
			<span class="text titleSidebar">Union Shipping</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/api/shipper/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
            <li>
				<a href="/api/shipper/editprofile">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Edit Profile</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/api/shipper/signin" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<!-- Hide sidebar button -->
			<i class='bx bx-menu' ></i>

			<!-- Profile pic -->
			<a href="#" class="profile">
				<img src="data:<%= shipper.photo.contentType %>;base64,<%= shipper.photo.data.toString('base64') %>">
			</a>
		</nav>
		<!-- NAVBAR -->
    
    <script src="/js/shipper/dashboard/js_dashboard.js"></script>
	</body>
    </html>
    