<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Customer</h1>
  <p>Name: <%= user.name %></p>
  <p>
    <% if (user.photo && user.photo.data) { %>
      <img src="data:<%= user.photo.contentType %>;base64,<%= user.photo.data.toString('base64') %>" alt="User Photo">
    <% } else { %>
      <p>No photo available</p>
    <% } %>  </p>

</body>
</html>