<!---RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Hoang Tuan Minh
ID: s3924716
Acknowledgement: 
Responsive login page created with Bootstrap 5 and HTML & CSS: https://www.youtube.com/watch?v=oF28ns9eVdc
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js
netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js
--->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shipper/main/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/shipper/main/all.min.css"/>
    <link rel="stylesheet" href="/css/shipper/login/login.css">
    <title>Login Page</title>
</head>
<body>
    <!----Main---->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounder-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #961E3A ;">
                <div class="featured_images mb-3">
                    <img src="/images/shipper/shipper-la-gi1.png" class="img-fluid" style="width: 250px;" alt="Shipper Picture">
                </div>
                <small class="text-white text-wrap text-center" style="font-family: 'Courier New', Courier, monospace;" style="width: 17rem;">Become one of our partner and start shipping today. </small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Hello, Shipper </h2>
                        <p>Please sign in</p>
                    </div>
                    <!----Form Start---->
                    <form method="POST" action="/api/shipper/signin">
                        
        
                        <% if(typeof message != "undefined" && message) { %>
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                       <div>	<%= message %></div>
                                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                        <%}%>
                
                    <div class="input-group mb-3">
                        <input type="text" name= "username" class="form-control form-control-lg bg-light fs-6" placeholder="Username">
                    </div>
                  
                    <div class="input-group mb-3">
                        <input type="password" name= "password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <button class=" btn btn-lg w-100 fs-6 text-white" type="submit" >Login</button>
                    </div>
                    <div class="row">
                        <small>Don't have an account?<a href="/api/shipper/signup">Sign Up</a></small>
                    </div>
                    </form>
                    <!--------Form End--------->
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>