<!--------------------------------------------------------------------------------------------------------------------------------------------------
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Tom's Prodigies V2
// ID: 
// Nguyen Tran Ha Anh: s3938490
// Dang Kim Quang Minh: s3938024
// Nguyen Gia Bao: s3938143
// Hoang Tuan Minh: s3924716
// Vu Loc: s3891483
// Acknowledgement: 
Acknowledgement: 
//how to make user profile dropdown
https://www.youtube.com/watch?v=ybXulmeilFM
https://codepen.io/cristinaconacel/pen/XymvvO
//how to make a profile page
https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details
//login and signup error message
https://stackoverflow.com/questions/71409981/how-to-hide-error-message-once-the-user-starts-writing-in-the-input-field
//how to create faqs page
https://www.bootdey.com/snippets/view/paq-page
//how to create order status
https://mdbootstrap.com/docs/standard/extended/order-details/#
//login and sign up page
https://www.youtube.com/watch?v=Qv5vdKLKpQk
---------------------------------------------------------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/customer/animate/animate.min.css" rel="stylesheet">
    <link href="/css/customer/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/customer/main/css/style.css" rel="stylesheet">
    <link href="/css/customer/about-us/about-us.css" rel="stylesheet">

    <!-- Vendor CSS Files (about us only) -->
    <link href="/css/customer/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/customer/bootstrap-icon/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/customer/aos/aos.css" rel="stylesheet">
    <link href="/css/customer/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/css/customer/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>



    <!--header-->
    

    <%- include('../customer-partials/header/header.ejs') %>

<body>



    <!-- ======= About Us Section ======= -->
  <div class="container-fluid">  
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          
          <!--Welcome section-->
          <div class="section-header">
            <h2>About Us</h2>
            <p>"Welcome to UNI, a platform that is UNIversal, UNIque, and UNeed" - The Boss</p>
          </div>

          <!--Our story and mission-->
          <div class="row gy-4">
            <div class="col-lg-6">
              <!--header-->
              <h3>This is our story, this is what define us</h3>
              <img src="/img/user/about-us/about.jpg" class="img-fluid rounded-4 mb-4" alt="about us picture 1">
              <!--content-->
              <p>The UNI ecommerce platform was founded in 2023 by five brilliant minds. It was developed to offer consumers a simple, safe, and quick online purchasing experience with a strong payment and operating system.</p>
              <p>The online purchasing experience, in our humble view, should be straightforward, uncomplicated, and aesthetically satisfying. Every day at UNI, we are motivated and inspired by this conviction.</p>
              <p>
                At UNI, our mission is to create a thriving marketplace that benefits both buyers and sellers. By embracing the principles of universality, uniqueness, and fulfilling every need, we construct an effortless and user-friendly online shopping experience that makes it possible for consumers to easily browse and buy an extensive variety of goods.
              </p>
            </div>

            <!--our principles-->
            <div class="col-lg-6">
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">
                  We are fundamentally Friendly, Joyful, and Agreeable to define who we are, whether by words or conduct in various situations. In each stage of UNI's evolution, these are the key and most notable aspects.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> We consider intimacy and honesty to be a strong basis for an honest, cost-effective, and fulfilling existence.</li>
                  <li><i class="bi bi-check-circle-fill"></i> We are kind, loving, and vivacious, always spreading happiness to people around us.</li>
                  <li><i class="bi bi-check-circle-fill"></i> We appreciate doing the things we love as a large family and spending time together, much as we enjoy online shopping with family and friends.</li>
                </ul>
                <p>
                  UNI provides a comprehensive online shopping experience with a large selection of goods, a vibrant user community, and an efficient service network for customers around the area.
                </p>
                
                <!--a interactive image that pop up a video window-->
                <div class="position-relative mt-4">
                  <img src="/img/user/about-us/about-2.jpg" class="img-fluid rounded-4" alt=" about us picture 2">
                  <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- End About Us Section -->
  
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container" data-aos="zoom-out">
          
          <!--clients slider-->
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-1.png" class="img-fluid" alt="client 1 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-2.png" class="img-fluid" alt="client 2 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-3.png" class="img-fluid" alt="client 3 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-4.png" class="img-fluid" alt="client 4 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-5.png" class="img-fluid" alt="client 5 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-6.png" class="img-fluid" alt="client 6 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-7.png" class="img-fluid" alt="client 7 logo"></div>
              <div class="swiper-slide"><img src="/img/user/about-us/clients/client-8.png" class="img-fluid" alt="client 8 logo"></div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- End Clients Section -->
  
      <!-- ======= Stats Counter Section ======= -->
      <section id="stats-counter" class="stats-counter">
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4 align-items-center">
  
            <div class="col-lg-6">
              <img src="/img/user/about-us/stats-img.svg" alt="stats Counter picture" class="img-fluid">
            </div>
  
            <div class="col-lg-6">
  
              <div class="stats-item d-flex align-items-center">
                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Happy Clients</strong> all over Ho Chi Minh city</p>
              </div><!-- End Stats Item -->
  
              <div class="stats-item d-flex align-items-center">
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Projects</strong> was made by our team</p>
              </div><!-- End Stats Item -->
  
              <div class="stats-item d-flex align-items-center">
                <span data-purecounter-start="0" data-purecounter-end="168" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Hours Of Support</strong>in total</p>
              </div><!-- End Stats Item -->
  
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Stats Counter Section -->
  
      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container text-center" data-aos="zoom-out">
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          <h3>Our Prsentation</h3>
          <p> Have a look at how our ecommerce website is developed and worked. </p>
          <a class="cta-btn" href="https://www.youtube.com/watch?v=LXb3EKWsInQ">Call To Action</a>
        </div>
      </section>
      <!-- End Call To Action Section -->
  
      <!-- ======= Our Services Section ======= -->
      <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Our Services</h2>
            <p>These are our services we provides to our consumers</p>
          </div>
  
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-4 col-md-6">
              <div class="service-item  position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <h3>Market Statistics</h3>
                <p>We offered our vendors with extremely precise market statistics.</p>
                <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-broadcast"></i>
                </div>
                <h3>Distribution Hub</h3>
                <p>A distribution center that distributes goods to a network of industries to speed up delivery.</p>
                <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <h3>Money Flow</h3>
                <p>We offered our merchants tools that will let them know how well their sales are performing.</p>
                <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-bounding-box-circles"></i>
                </div>
                <h3>Secure Packaging</h3>
                <p>We take pride in protecting the items we send to our customers, so we've developed our own process for packing that protect them from damages.</p>
                <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar4-week"></i>
                </div>
                <h3>Weekly Offer</h3>
                <p>Every weeks some specific products will have a special deal offer to help our local charities.</p>
                <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-headset"></i>
                </div>
                <h3>24/7 Customer Support</h3>
                <p>Our passionate support team is always accessible to assist and counsel customers.</p>
                <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
          </div>
  
        </div>
      </section>
      <!-- End Our Services Section -->
  
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Feedsback</h2>
            <p>Let's hear what our customers got to say !</p>
          </div>
  
          <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              
              <!---->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/img/user/about-us/testimonials/testimonials-1.png" class="testimonial-img flex-shrink-0" alt="reviewer 1 profile image">
                      <div>
                        <h3>Mr.B</h3>
                        <h4>Shrimp_lord69</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      The vast selection of this store truly blew my mind.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
              
              <!---->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/img/user/about-us/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="reviewer 2 profile image">
                      <div>
                        <h3>Felix Legyell</h3>
                        <h4>TLBusta420</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      book book book ??!? no shot dud !
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
  
              <!---->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/img/user/about-us/testimonials/testimonials-3.png" class="testimonial-img flex-shrink-0" alt="reviewer 3 profile image">
                      <div>
                        <h3>Heisenberg</h3>
                        <h4>Certified_cook123</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      I have never seen such ingredient that can cook this pure. 
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
  
              <!---->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/img/user/about-us/testimonials/testimonials-4.png" class="testimonial-img flex-shrink-0" alt="reviewer 4 profile image">
                      <div>
                        <h3>Le Dat</h3>
                        <h4>MUismylife10</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      After every match, I always find myself here buying oxygen tanks.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
  
              <!---->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/img/user/about-us/testimonials/testimonials-5.png" class="testimonial-img flex-shrink-0" alt="reviewer 5 profile image">
                      <div>
                        <h3>Jeremy</h3>
                        <h4>Eatmydust69</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      this is my 89th unusual hat, thank you UNI, very cool.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section>
      <!-- End Testimonials Section -->
  
      <!-- ======= Our Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Our Team</h2>
            <p>Meet our exceptional team of dedicated individuals who are passionate about providing you with an unparalleled experience. With their expertise, creativity, and commitment, they work tirelessly to bring you the best products and services, ensuring your satisfaction is always their top priority. Get to know the faces behind our brand and discover the driving force that makes us who we are.</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <img src="/img/user/about-us/team/anh.jpg" class="img-fluid" alt="team member 1 profile image">
                <h4>Nguyen Tran Ha Anh</h4>
                <span>Project Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <img src="/img/user/about-us/team/ming.jpg" class="img-fluid" alt="team member 2 profile image">
                <h4>Dang Kim Quang Minh</h4>
                <span>Technical leader</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <img src="/img/user/about-us/team/minh.jpg" class="img-fluid" alt="team member 3 profile image">
                <h4>Hoang Tuan Minh</h4>
                <span>Developer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <img src="/img/user/about-us/team/bao.jpg" class="img-fluid" alt="team member 4 profile image">
                <h4>Nguyen Gia Bao</h4>
                <span>Developer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <img src="/img/user/about-us/team/loc.jpg" class="img-fluid" alt="team member 5 profile image">
                  <h4>Vu Loc</h4>
                  <span>Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <img src="/img/user/about-us/team/hy.jpg" class="img-fluid" alt="team member 4 profile image">
                  <h4>To Gia Hy</h4>
                  <span>Hacker</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <img src="/img/user/about-us/team/luan.jpg" class="img-fluid" alt="team member 4 profile image">
                  <h4>Doan Khanh Luan</h4>
                  <span>Janitor</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <img src="/img/user/about-us/team/thang.jpg" class="img-fluid" alt="team member 4 profile image">
                  <h4>Vo Chau Thang</h4>
                  <span>Outsider Consultant</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->
  
          </div>
  
        </div>
      </section><!-- End Our Team Section -->
    
      

    </div>

  </div>  
    <!--footer-->
    <%- include('../customer-partials/footer/footer.ejs') %>


    <!-- Bottom-to-Top button -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/customer/easing/easing.min.js"></script>
    <script src="/js/customer/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/js/customer/mail/jqBootstrapValidation.min.js"></script>
    <script src="/js/customer/mail/contact.js"></script>

    <!-- Custom Javascript -->
    <script src="/js/customer/main/js/main.js"></script>
    <script src="/js/customer/about-us/about-us.js"></script>


    <!--about us (only)-->
    <!-- Vendor JS Files -->
    <script src="/js/customer/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/customer/aos/aos.js"></script>
    <script src="/js/customer/glightbox/js/glightbox.min.js"></script>
    <script src="/js/customer/purecounter/purecounter_vanilla.js"></script>
    <script src="/js/customer/swiper/swiper-bundle.min.js"></script>
    <script src="/js/customer/isotope-layout/isotope.pkgd.min.js"></script>

</body>

</html>