<!--------------------------------------------------------------------------------------------------------------------------------------------------
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Tom's Prodigies V2
// ID: 
// Nguyen Tran Ha Anh: s3938490
// Dang Kim Quang Minh: s3938024
// Nguyen Gia Bao: s3938143
// Hoang Tuan Minh: s3924716
// Vu Loc: s3891483
// Acknowledgement: 
//how to make user profile dropdown
https://www.youtube.com/watch?v=ybXulmeilFM
https://codepen.io/cristinaconacel/pen/XymvvO
//how to make a profile page
https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details
//login and signup error message
https://stackoverflow.com/questions/71409981/how-to-hide-error-message-once-the-user-starts-writing-in-the-input-field
//how to create faqs page
https://www.bootdey.com/snippets/view/paq-page
//how to create order status
https://mdbootstrap.com/docs/standard/extended/order-details/#
//login and sign up page
https://www.youtube.com/watch?v=Qv5vdKLKpQk
---------------------------------------------------------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FAQs</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/customer/animate/animate.min.css" rel="stylesheet">
    <link href="/css/customer/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/customer/main/css/style.css" rel="stylesheet">
</head>



    <!--header-->
    

    <%- include('../customer-partials/header/header.ejs') %>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-3">
        
                <!-- Tips Widget -->
                <!--===================================================-->
                <div class="mar-btm">
                    <h4 class="text-thin"><i class="fa fa-lightbulb-o fa-lg fa-fw text-warning"></i> Useful tips</h4>
                    <p class="text-muted mar-top">You can find most of the question our customers have here. There may be an answer for your question in these section bellow.</p>
                    <div class="list-group bg-trans">
                        <a class="list-group-item text-underline-mod" href="#general" ><span class="badge badge-purple badge-icon badge-fw pull-left"></span> General</a>
                        <a class="list-group-item text-underline-mod" href="#account" ><span class="badge badge-info badge-icon badge-fw pull-left"></span> Account</a>
                        <a class="list-group-item text-underline-mod" href="#payment" ><span class="badge badge-pink badge-icon badge-fw pull-left"></span> Payment</a>
                    </div>
                </div>
                <!--===================================================-->
        
                <hr>
        
                <!-- Contact us widget -->
                <!--===================================================-->
                <div class="mar-btm">
                    <h4 class="text-thin"><i class="fa fa-question-circle fa-lg fa-fw text-primary"></i> Can't find the answer? </h4>
                    <p class="text-muted mar-top">Can't seem to find your answer in our frequently asked question? sent us you question right now.</p>
                    <a href="/api/customer/contact" class="btn btn-primary">Contact us</a>
                </div>
                <!--===================================================-->
        
            </div>
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body">
        
                        <!-- GENERAL -->
                        <!--===================================================-->
                        <h3 class="pad-all bord-btm text-thin" id="general">General</h3>
                        <div id="demo-gen-faq" class="panel-group accordion">
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-gen-faq1" data-toggle="collapse" data-parent="#demo-gen-faq" >How can I place an order on your website ?</a>
                                </div>
        
                                <!-- Answer -->
                                <div id="demo-gen-faq1" class="collapse in">
                                    <div class="pad-all">
                                        To place an order, simply browse our products, select the items you want, and click on the "Add to Cart" button. Proceed to the checkout page to provide your shipping and payment details.
                                    </div>
                                </div>
                            </div>
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-gen-faq2" data-toggle="collapse" data-parent="#demo-gen-faq" >How long will it take for my order to arrive ?</a>
                                </div>
        
                                <!-- Answer -->
                                <div id="demo-gen-faq2" class="collapse in">
                                    <div class="pad-all">
                                        The delivery time depends on your location and the shipping method chosen. We provide estimated delivery times during the checkout process. Generally, orders are delivered within 3-7 business days.
                                    </div>
                                </div>
                            </div>
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-gen-faq3" data-toggle="collapse" data-parent="#demo-gen-faq" > Can I track my order ?</a>
                                </div>
        
                                <!-- Answer -->
                                <div id="demo-gen-faq3" class="collapse">
                                    <div class="pad-all">
                                        Yes, once your order is shipped, we will send you a tracking number via email. You can use this tracking number to monitor the progress of your shipment on our website or the shipping carrier's website.
                                    </div>
                                </div>
                            </div>
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-gen-faq4" data-toggle="collapse" data-parent="#demo-gen-faq" >What is your return policy ?</a>
                                </div>
        
        
                                <!-- Answer -->
                                <div id="demo-gen-faq4" class="collapse">
                                    <div class="pad-all">
                                        We offer a hassle-free return policy. If you are not satisfied with your purchase, you can return it within 30 days of receipt for a refund or exchange. Please refer to our Returns and Refunds page for detailed instructions.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
        
                        <hr class="bord-no pad-all">
        
                        <!-- ACCOUNT -->
                        <!--===================================================-->
                        <h3 class="pad-all bord-btm text-thin" id="account">Account</h3>
                        <div id="demo-acc-faq" class="panel-group accordion">
                            <div class="panel panel-trans pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-acc-faq1" data-toggle="collapse" data-parent="#demo-acc-faq" > How do I create an account on your website ?</a>
                                </div>
        
        
                                <!-- Answer -->
                                <div id="demo-acc-faq1" class="collapse in">
                                    <div class="pad-all">
                                        Creating an account is simple. Click on the "Sign Up" or "Register" button and provide the required information, including your name, username, address, and password. Once submitted, your account will be created.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-trans pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-acc-faq2" data-toggle="collapse" data-parent="#demo-acc-faq" >Can I use my social media accounts to sign up ?</a>
                                </div>
        
                                <!-- Answer -->
                                <div id="demo-acc-faq2" class="collapse">
                                    <div class="pad-all">
                                        Yes, you can! We offer the option to sign up using your social media accounts, such as Facebook, Twitter, Instagram, or Google. Just click on the corresponding social media icon and follow the prompts to link your accounts.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-trans pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-acc-faq3" data-toggle="collapse" data-parent="#demo-acc-faq" >How do I update my account information, such as my name or shipping address?</a>
                                </div>
        
                                <!-- Answer -->
                                <div id="demo-acc-faq3" class="collapse">
                                    <div class="pad-all">
                                        To update your account information, log in to your account and go to the account settings or profile section. From there, you can edit your personal details, including your name, shipping address, and contact information.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
        
                        <hr class="bord-no pad-all">
        
                        <!-- PAYMENT -->
                        <!--===================================================-->
                        <h3 class="pad-all bord-btm text-thin" id="payment">Payment</h3>
                        <div id="demo-pym-faq" class="panel-group accordion">
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-pym-faq1" data-toggle="collapse" data-parent="#demo-pym-faq" >Can I use multiple payment methods for a single order ?</a>
                                </div>
        
        
                                <!-- Answer -->
                                <div id="demo-pym-faq1" class="collapse in">
                                    <div class="pad-all">
                                        Currently, we only support using one payment method per order. Please choose your preferred payment method during the checkout process.
                                    </div>
                                </div>
                            </div>
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-pym-faq2" data-toggle="collapse" data-parent="#demo-pym-faq" >Do you offer installment or payment plans ?</a>
                                </div>
        
                                <!-- Answer -->
                                <div id="demo-pym-faq2" class="collapse in">
                                    <div class="pad-all">
                                        Currently, we do not offer installment or payment plans. However, we are continuously reviewing and expanding our payment options to provide more flexibility in the future.
                                    </div>
                                </div>
                            </div>
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-pym-faq3" data-toggle="collapse" data-parent="#demo-pym-faq" >Do you charge any additional fees for using certain payment methods ?</a>
                                </div>
        
        
                                <!-- Answer -->
                                <div id="demo-pym-faq3" class="collapse in">
                                    <div class="pad-all">
                                        No, we do not charge any additional fees for using specific payment methods. However, please check with your payment provider to see if they impose any fees or charges on their end.
                                    </div>
                                </div>
                            </div>
                            <div class="bord-no pad-top">
        
                                <!-- Question -->
                                <div class="text-semibold pad-hor text-lg text-underline-mod">
                                    <a href="#demo-pym-faq4" data-toggle="collapse" data-parent="#demo-pym-faq" > Can I request a refund if I paid with a credit card or other payment method ?</a>
                                </div>
        
        
                                <!-- Answer -->
                                <div id="demo-pym-faq4" class="collapse in">
                                    <div class="pad-all">
                                        Yes, you can request a refund regardless of the payment method used. Our refund policy applies to all purchases, and we will process the refund according to our stated guidelines.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===================================================-->
        
                    </div>
                </div>
            </div>
        </div>
        </div>
    


    <!--footer-->
    <%- include('../customer-partials/footer/footer.ejs') %>


    <!-- Bottom-to-Top button -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/customer/easing/easing.min.js"></script>
    <script src="/js/customer/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/js/customer/mail/jqBootstrapValidation.min.js"></script>
    <script src="/js/customer/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/customer/main/js/main.js"></script>
</body>

</html>