<!--------------------------------------------------------------------------------------------------------------------------------------------------
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Tom's Prodigies V2
// ID: 
// Nguyen Tran Ha Anh: s3938490
// Dang Kim Quang Minh: s3938024
// Nguyen Gia Bao: s3938143
// Hoang Tuan Minh: s3924716
// Vu Loc: s3891483
// Acknowledgement: 
//how to make user profile dropdown
https://www.youtube.com/watch?v=ybXulmeilFM
https://codepen.io/cristinaconacel/pen/XymvvO
//how to make a profile page
https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details
//login and signup error message
https://stackoverflow.com/questions/71409981/how-to-hide-error-message-once-the-user-starts-writing-in-the-input-field
//how to create faqs page
https://www.bootdey.com/snippets/view/paq-page
//how to create order status
https://mdbootstrap.com/docs/standard/extended/order-details/#
//login and sign up page
https://www.youtube.com/watch?v=Qv5vdKLKpQk
---------------------------------------------------------------------------------------------------------------------------------------------------->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
  
  	<link rel="stylesheet" type="text/css" href="/css/customer/login/css-login/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="/css/customer/login/css-login/bootstrap-icons.css">
  	<link rel="stylesheet" type="text/css" href="/css/customer/login/css-login/login-custom.css">
	
	
  </head>

  <body>

		<% if(typeof message != "undefined" && message) { %>
			<div class="container mt-3">
				<div class="alert alert-danger alert-dismissible" role="alert">
					   <div>	<%= message %></div>
					   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		<%}%>

    <main class="text-white">
    	<h1 class="h2 text-center pt-3 pb-2 text-viva"> UNI Store</h1>
  		<div class="content row mx-auto" >
  			<div class="img-container p-0 col-md-6 bg-warning" >
  				<img src="/images/customer/login/08.jpg" >
  			</div>
  			<div class="form-container col-md-6" >
  				
  				<!--extra button to switch between signin & signup-->
  				<!--<div onclick="show_login()" class="login-button button-selected">Login</div>
  				<div onclick="show_signup()" class="signup-button">Signup</div>-->

  				<div class="">
  					
					<!--Login section-->
  					<form class="js-login-form pt-4 p-4" method="POST" action="/api/customer/signin">
  						
  						<h2 class="fx-animate-1 text-viva">Login</h2>
  						<h5 class="fx-animate-3 text-viva">Please enter your details</h5>

						<!--Username-->
  						<div class="input-group mb-4 fx-animate-1" >
						  <input type="text" class="form-control p-3" placeholder="Username" id="contact-l-username" name="username" required>
						  <span class="input-group-text" id="basic-addon2"><i class="bi bi-person"></i></span>
						  <!--error message-->
						  <span id="l-username-error"></span>
						</div>

						<!--Password-->
						<div class="input-group mb-4 fx-animate-2">
						  <input type="password" class="form-control p-3" placeholder="Password" id="contact-l-password" name="password" required> 
						  <span class="input-group-text" id="basic-addon2"><i class="bi bi-key"></i></span>
						  <!--error message-->
						  <span id="l-password-error"></span>
						</div>
						
						<div class="mb-4 fx-animate-3">
							<button class="btn btn-lg btn-outline-warning" type="submit">Login</button>
						</div>
						<div class="mb-4 fx-animate-5 text-dark">
							Don't have account? 
							<a class="text-viva-use" href="/api/customer/signup">Sign Up Now</a>
						</div>

						<!--Follow us-->
						<hr>
						<div class="text-viva">
							Follow us:
							<div class="d-flex">
								<div class="me-2 fx-animate-4"><a href=""><i class="h3 text-viva-use bi bi-facebook"></i></a></div>
								<div class="me-2 fx-animate-5"><a href=""><i class="h3 text-viva-use bi bi-twitter"></i></a></div>
								<div class="me-2 fx-animate-6"><a href=""><i class="h3 text-viva-use bi bi-instagram"></i></a></div>
							</div>

						</div>

						<!--take me back button-->
						<br>
						<div>
						
							<div class="d-flex">
								<div class="me-2 fx-animate-4"><a href="/api/customer/homepage"><i class="h3 text-viva bi bi-arrow-left"></i></a></div>
							</div>

						</div>

  					</form>

  					
  				</div>
  			</div>
  		</div>
    	
    </main>

  </body>

<!--custom js file-->
<script src="/js/customer/login/js-login/login.js"></script>  
<!--icon-->
<script src="https://kit.fontawesome.com/c4254e24a8.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>
