<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>UNI Store - multi vendor marketplace</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!-- Libraries Stylesheet -->
    <link href="/css/user/animate/animate.min.css" rel="stylesheet">
    <link href="/css/user/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/user/main/css/style.css" rel="stylesheet">
</head>



    <!--header-->
    <%- include('../partials/header/header-user.ejs') %>


<body>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">User</a>
                    <span class="breadcrumb-item active">User's Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    

    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="/users/profile">Profile</a>
            <a class="nav-link" href="/users/order" >Billing</a>
            <a class="nav-link" href="/users/security">Security</a>
        </nav>
        <hr class="mt-0 mb-4">
        
        <!-- Billing history card-->
        <div class="card mb-4">
            <div class="card-header">Billing History</div>
            <div class="card-body p-0">
                <!-- Billing history table-->
                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="border-gray-200" scope="col">Transaction ID</th>
                                <th class="border-gray-200" scope="col">Date</th>
                                <th class="border-gray-200" scope="col">Amount</th>
                                <th class="border-gray-200" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/users/order-status"> #39201</a></td>
                                <td>06/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-light text-dark">Pending</span></td>
                            </tr>
                            <tr>
                                <td><a href="/users/order-status"> #39232</a></td>
                                <td>05/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-success">Complete</span></td>
                            </tr>
                            <tr>
                                <td><a href="/users/order-status"> #39291</a></td>
                                <td>04/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-success">Complete</span></td>
                            </tr>
                            <tr>
                                <td><a href="/users/order-status"> #39101</a></td>
                                <td>03/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-success">Complete</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    


    <!--footer-->
    <%- include('../partials/footer/footer.ejs') %>


    <!-- Bottom-to-Top button -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/user/easing/easing.min.js"></script>
    <script src="/js/user/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/js/user/mail/jqBootstrapValidation.min.js"></script>
    <script src="/js/user/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/user/main/js/main.js"></script>
</body>

</html>