<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>UNI Store - multi vendor marketplace</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/customer/animate/animate.min.css" rel="stylesheet">
    <link href="/css/customer/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/customer/main/css/style.css" rel="stylesheet">
</head>



    <!--header-->
    <%- include('../customer-partials/header/header.ejs') %>


<body>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/api/customer/homepage">Home</a>
                    <a class="breadcrumb-item text-dark" href="/api/customer/profile"><%= customer.name %></a>
                    <span class="breadcrumb-item active">Security</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="/api/customer/profile" >Profile</a>
            <a class="nav-link" href="/api/customer/orderhistory" >Order History</a>
            <a class="nav-link" href="/api/customer/changepassword">Security</a>
        </nav>
        <!---->
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-lg-8">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form action="/api/customer/changepassword" method="POST">

                            <% if(typeof message != "undefined" && message) { %>
                                <div class="mb-3">
                                    <div class="alert alert-danger" role="alert">
                                        <div>	<%= message %></div>
                                    </div>
                                </div>
                            <%}%>

                            <!-- Form Group (current password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Current Password</label>
                                <input class="form-control" name="current" id="currentPassword" type="password" placeholder="Enter current password">
                            </div>
                            <!-- Form Group (new password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">New Password</label>
                                <input class="form-control" name="new" id="newPassword" type="password" placeholder="Enter new password">
                            </div>

                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    


    <!--footer-->
    <%- include('../customer-partials/footer/footer.ejs') %>


    <!-- Bottom-to-Top button -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/customer/easing/easing.min.js"></script>
    <script src="/js/customer/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/js/customer/mail/jqBootstrapValidation.min.js"></script>
    <script src="/js/customer/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/customer/main/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>