<!--------------------------------------------------------------------------------------------------------------------------------------------------
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Tom's Prodigies V2
// ID: 
// Nguyen Tran Ha Anh: s3938490
// Dang Kim Quang Minh: s3938024
// Nguyen Gia Bao: s3938143
// Hoang Tuan Minh: s3924716
// Vu Loc: s3891483
// Acknowledgement: 
//how to make user profile dropdown
https://www.youtube.com/watch?v=ybXulmeilFM
https://codepen.io/cristinaconacel/pen/XymvvO
//how to make a profile page
https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details
//login and signup error message
https://stackoverflow.com/questions/71409981/how-to-hide-error-message-once-the-user-starts-writing-in-the-input-field
//how to create faqs page
https://www.bootdey.com/snippets/view/paq-page
//how to create order status
https://mdbootstrap.com/docs/standard/extended/order-details/#
//login and sign up page
https://www.youtube.com/watch?v=Qv5vdKLKpQk
---------------------------------------------------------------------------------------------------------------------------------------------------->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
  
  	<link rel="stylesheet" type="text/css" href="/css/customer/login/css-login/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="/css/customer/login/css-login/bootstrap-icons.css">
  	<link rel="stylesheet" type="text/css" href="/css/customer/login/css-login/login-custom.css">

	<!--img-upload link-->
	<link rel="stylesheet" type="text/css" href="/css/customer/img-upload/img-upload.css">
	
	
  </head>

  <body>

	
	<!--Header-->
    <main class="text-white">
    	<h1 class="h2 text-center pt-3 pb-2 text-viva"> UNI Store</h1>
		<form class="js-login-form pt-4 p-4" method="POST" action="/api/customer/signup" enctype="multipart/form-data">
  		<div class="content row mx-auto" >
			<div class="img-container p-0 col-md-6 bg-warning" >
				
				<!--customer profile image-->
					<div class="profile-image-container visual">
						<label for="upload-file"></label>
							<img src="/img/user/login/icon.png" alt="Profile Image" id="profile-image">
											
						<input name="image" id="upload-file" type="file" accept="jpeg, jpg, png" onchange="readURL(this);" required>
					</div>
				

			</div>
  			<div class="form-container col-md-6 " >

  				<div class="">
  					<h2 class="fx-animate-1 text-viva">Signup</h2>
						<h5 class="fx-animate-3 text-viva">Please enter your details</h5>
						
					<div>
					  <!--Username-->
					  <div class="input-group mb-4 fx-animate-1" >
						<input type="text" class="form-control p-2" placeholder="Username" id="contact-s-username" name="username" onkeyup="validateSUsername()" required>
						<span class="input-group-text" id="basic-addon2"><i class="bi bi-person"></i></span>
						<!--error message-->
						<span id="s-username-error"></span>
					  </div>

					  <!--Password-->
					  <div class="input-group mb-4 fx-animate-2">
						<input type="password" class="form-control p-2" placeholder="Password" id="contact-s-password" name="password" onkeyup="validateSPassword()" required> 
						<span class="input-group-text" id="basic-addon2"><i class="bi bi-key"></i></span>
						<!--error message-->
						<span id="s-password-error"></span>
					  </div>
					  
					  <!--Name-->
					  <div class="input-group mb-4 fx-animate-4">
						<input type="text" class="form-control p-2" placeholder="Name" id="contact-name" name="name" onkeyup="validateName()" required> 
						<span class="input-group-text" id="basic-addon2"><i class="bi bi-clipboard-minus"></i></span>
						<!--error message-->
						<span id="name-error"></span>
					  </div>

					  <!--Address-->
					  <div class="input-group mb-4 fx-animate-3">
						<input type="text" class="form-control p-2" placeholder="Address" id="contact-s-address" name="address" onkeyup="validateAddress()" required> 
						<span class="input-group-text" id="basic-addon2"><i class="bi bi-house"></i></span>
						<!--error message-->
						<span id="s-address-error"></span>
					  </div>

					  <div class="mb-4 fx-animate-3">
						  <button class="btn btn-lg btn-outline-warning" type="submit" onclick="return validateSForm()">Sign up</button>
						  <!--error message-->
						  <span id="s-submit-error"></span>
					  </div>
					  <div class="mb-4 fx-animate-5 text-viva">
						   Already have an account? <a class="text-viva-use" href="/api/customer/signin">Sign in</a>
					  </div>
					
					  <!--take me back button-->
					  <hr>
					  <div>
					  
						  <div class="d-flex">
							  <div class="me-2 fx-animate-4"><a href="/api/customer/homepage"><i class="h3 text-white bi bi-arrow-left text-viva"></i></a></div>
						  </div>

					  </div>
					</div>
					</form>
  					
  				</div>
  			</div>
  		</div>
    	
    </main>

  </body>

<!--custom js file-->
<script src="/js/customer/login/js-login/login.js"></script>  
<!--icon-->
<script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
<!--upload image function-->
<script src="/js/customer/img-upload/img-upload.js"></script>

</html>
