/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Hoang Tuan Minh
ID: s3924716
Acknowledgement: 
https://getbootstrap.com/docs/5.3/getting-started/javascript/
Create your own Admin Dashboard Template with Angular 15 Html CSS:https://www.youtube.com/watch?v=zQf7AcKw5mU
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js
netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js*/
body {
    background: #961E3A;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #961E3A;
  }
  
  .profile-button {
    background: #961E3A;
    box-shadow: none;
    border: none;
  }
  
  .profile-button:hover {
    background: #5E1325;
  }
  
  .profile-button:focus {
    background: #5E1325;
    box-shadow: none;
  }
  
  .profile-button:active {
    background: #5E1325;
    box-shadow: none;
  }
  
  .back:hover {
    color: #5E1325;
    cursor: pointer;
  }

  .message-alert {
    padding-top: 18px;
  }
#file{
    display: none;
}
#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    transform: translateX(-90%);
    margin-top: 100px;
    background-color: rgb(173,172,172,0.801);
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}
