/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Hoang Tuan Minh
ID: s3924716
Acknowledgement: 
https://getbootstrap.com/docs/5.3/getting-started/javascript/
Create your own Admin Dashboard Template with Angular 15 Html CSS:https://www.youtube.com/watch?v=zQf7AcKw5mU
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js
netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:wght@200&display=swap');
body{
    font-family:'Poppins', sans-serif;
    background-color: #961E3A;
}
.box-area{
    width: 930px;
}
.btn{
    background-color: #961E3A;
}
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
@media only screen and(max-width:768px){
    .box-area{
        margin: 0 10px;

    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}
.user-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 15% 45%;
}
#photo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
#file{
    display: none;
}
#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    transform: translateX(-90%);
    margin-top: 100px;
    background-color: rgb(173,172,172,0.801);
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}

h1 {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
}

.deny {
    display: none;
}

.popup {
    display: none;
}

.invalid {
    display: flex;
}