/*--------------------------------------------------------------------------------------------------------------------------------------------------
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Nguyen Gia Bao
ID: s3938143
Acknowledgement: 
//how to make user profile dropdown
https://www.youtube.com/watch?v=ybXulmeilFM
https://codepen.io/cristinaconacel/pen/XymvvO
//how to make a profile page
https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details
//login and signup error message
https://stackoverflow.com/questions/71409981/how-to-hide-error-message-once-the-user-starts-writing-in-the-input-field
//how to create faqs page
https://www.bootdey.com/snippets/view/paq-page
//how to create order status
https://mdbootstrap.com/docs/standard/extended/order-details/#
//login and sign up page
https://www.youtube.com/watch?v=Qv5vdKLKpQk
----------------------------------------------------------------------------------------------------------------------------------------------------*/
.status-card{
    border-radius: 10px;
}

.status-card-content-color{
    color: #961E3A;
}

.status-card-bg{
    background-color: #e0e0e0; 
    opacity: 1;
}

.status-card-progress-bar{
    height: 6px; 
    border-radius: 16px;
}

.status-card-progress-bar-65{
    width: 65%; 
    border-radius: 16px;
     background-color: #961E3A;
}

.status-card-progress-bar-20{
    width: 20%; 
    border-radius: 16px; 
    background-color: #961E3A;
}

